

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body {
  margin: 0;
}
.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
    object-fit: cover;
}
.container-main{
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #be4444c7;
}

.container-main .container{
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;
}


.image-logo{
    width: 60px;
    border-radius: 50%;
}
.container-main .mid-container{
    flex: 1;
    flex-shrink: 0;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    position: relative;
    display: flex;
    justify-content: center;
}
.name-checkout{
    text-decoration: none;
    color: lightblue;
}
.name-checkout:hover{
    color: blue;
}

.checkout-body {
  display: flex;
  gap: 20px;
  font-family: Arial;
  width: 1100px;
  margin: 180px auto 40px auto;
  
}

/* LEFT */
.items {
  width: 70%;
  
}
.qty{
    width: 30px;
}
.item-card {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
  background-color: #dd7f7fcd;
}

.date {
  color: green;
}

.content {
  display: flex;
  gap: 15px;
}

.product-img {
  width: 100px;
  height: 100px;
}

.price {
  color: #b12704;
  font-weight: bold;
}

.link {
  color: #007185;
  cursor: pointer;
  margin-left: 5px;
}

.delivery label {
  display: block;
  margin: 5px 0;
  text-indent: 2px;
}

/* RIGHT */
.summary {
  width: 30%;
  border: 1px solid #ddd;
  padding: 15px;
  height: fit-content;
  background-color: #dd7f7fcd;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.total {
  color: #b12704;
}

.place {
  width: 100%;
  padding: 10px;
  background: #ec7272e6;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

@media (max-width : 853px) {
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    .checkout-body{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 720px;
    }
    .summary{
        width:500px;
        border-radius: 5px;
    }
}